<div class='grid_12'>
  <div id='homepage'>
    <h1>Demicard</h1>
    <div id='signin-buttons'>
      <%= link_to('', '/auth/facebook', id: 'signin-facebook') %>
      <%= link_to('', '/auth/twitter', id: 'signin-twitter') %>
    </div>
  </div>
</div>
